:root {
  --dark-cyan: sl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayvish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  overflow: hidden;
}

.main {
  background: #19A1AE;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg {
  position: relative;
}

#bg-top {
  position: absolute;
  top: -50rem;
  left: -50rem;
}

#bg-bottom {
  position: absolute;
  top: 0px;
  left: 25rem;
}

#bg-card {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.person {
  display: flex;
  justify-content: center;
}

#img-person {
  transform: translateY(-50%);
  border-radius: 50%;
  border: 5px solid white;
}

.card {
  background: #FFF;
  max-width: 32.6rem;
  max-height: 37.4rem;
  border-radius: 15px;
  z-index: 1;
  margin: 2rem;
}

.name, .city {
  display: flex;
  justify-content: center;
}

.name > h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2E3349;
}

.name > span,
.city > span  {
  font-size: 1.8rem;
  font-weight: normal;
  margin-left: 0.5rem;
  color: #6B7082;
}

.divider {
  border-top: 1px solid #E8E9EC;
  margin-top: 3.6rem;
}

.stats-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-v {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.stat {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stat > h2 {
  color: #2E3349;
  font-size: 1.8rem;
}

.stat > span {
  font-size: 1rem;
  color: #6B7082;
}

@media only screen and ( min-width: 1000px ) {
  main .card {
    max-width: 35rem;
    max-height: 37.4rem;
  } 
}